<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.wj.work">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tool:ignore="Instantiatable,LockedOrientationActivity"
        android:theme="@style/AppTheme"
        tool:targetApi="n">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".ui.live.StreamingByCameraActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.NetService"
            android:label="net"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"  />

            </intent-filter>
        </service>

        <service android:name=".service.ManageService"
            android:label="manage"
            android:process=":remote2"
            >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE2"  />

            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.ProductDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.SelectProductActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.AttentionProductListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.AttentionStoreListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.MineLiveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.RealNameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.CreateLiveActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.LiveActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".LaunchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.CustomerOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.MineCustomerListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ui.activity.AdvertiseActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.MinePrevueActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>